.signIn {
  width: 420px;
  display: flex;
  flex-direction: column;
  margin-right: 30px;

  .title {
    margin: 10px 0;
  }

  .buttons {
    display: flex;
    justify-content: space-between;
  }
}
