.heroBox {
  background-color: #ccc;
  height: 500px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 80px;

  .heading {
    margin-top: 150px;

    span {
      font-family: "Benne", serif;
    }
  }
  .model {
    width: 330px;
    filter: grayscale(30%);
  }
}
