.Navbar {
  padding: 10px 80px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-family: "Benne", serif;
  font-size: 26px;

  .logo-container {
    text-decoration: none;
    color: black;
  }
}
.navItems {
  align-items: flex-end;

  a {
    list-style-type: none;
    display: inline;
    margin-right: 50px;
    text-decoration: none;
    color: black;
  }
}
