.heroBox {
  background-color: #ccc;
  height: 500px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 80px;

  .heading {
    margin-top: 150px;

    span {
      font-family: "Benne", serif;
    }
  }
  .subtext {
    width: 450px;
    margin-bottom: 10px;
  }
  .shop-button {
    width: 150px;
    padding: 10px 20px;
    cursor: pointer;

    .shop {
      color: black;
      text-decoration: none;
    }
  }

  .model {
    width: 330px;
    filter: grayscale(30%);
  }
}
